@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kanit:wght@500&family=Mochiy+Pop+P+One&family=Sora:wght@300&display=swap');

.logo_image {
    width: 100px;
    height: 40px;
}

  .nav {
    background-color: orange;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.15);
  }
  
  .nav-logo {
    height: 60px;
    max-width: 100%;
    width: 20%;
    border-radius: 20px;
  }
  
  .nav-logo:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px 0;
  }
  
  .nav .nav-content {
    max-width: 1200px;
    padding: 0rem 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    font-family: 'Kanit', sans-serif;
    display: inline;
    font-size: 15px;
    margin-left: 1rem;
    color: white;
  }
  
  .nav-item:hover {
    color: orangered;
    font-size: 17px;
    cursor: pointer;
  }